mixin setButton(text,data,classes)
    button(data-calc=data,class="calcButton " + classes) !{text}
.container-fluid
    .wrapper
        .calcBody
            .window
                .spinner
                    .eS
                    .tS
                    .warn
            .btnHolder
                .holdMe
                    +setButton("AC","AC","undo")
                    +setButton("CE","CE","kC_46 undo")
                    +setButton("Degrees","degrees","toggle pushed kC_deg")
                    +setButton("Radians","radians","toggle kC_rad")
                .trig
                    +setButton("sin<sup>-1</sup>","sin<sup>-1</sup>(","kC_1-19-9-14 inverse")
                    +setButton("cos<sup>-1</sup>","cos<sup>-1</sup>(","kC_1-3-15-19 inverse")
                    +setButton("tan<sup>-1</sup>","tan<sup>-1</sup>(","kC_1-20-1-14 inverse")
                    +setButton("sin","sin(","kC_19-9-14")
                    +setButton("cos","cos(","kC_3-15-19")
                    +setButton("tan","tan(","kC_20-1-14")
                .bS
                    +setButton("&#x232B;","backspace","kC_8 undo")
                .const
                    +setButton("&pi;","PI","kC_16-9")
                    +setButton("e","e","kC_e")
                .baseNum
                    +setButton("log<sub>10</sub>","log<sub>10</sub>(","kC_12-15-7-10 inverse")
                    +setButton("10<sup>x</sup>","10^(","")
                .baseNum
                    +setButton("log<sub>2</sub>","log<sub>2</sub>(","kC_12-15-7-2 inverse")
                    +setButton("2<sup>x</sup>","2^(","")
                .baseE
                    +setButton("ln","ln(","kC_12-14 inverse")
                    +setButton("e<sup>x</sup>","e^(","")
                .fact
                    +setButton("x!","!","kC_5-24-3")
                .parenRow
                    +setButton("(","(","kC_16-1-18")
                    +setButton(")",")","kC_5-14-4")
                    +setButton("/","/","kC_111 kC_191 kC_47")
                    +setButton("*","*","kC_106 kC_42")
                .misc
                    +setButton("&radic;","&radic;(","inverse")
                    +setButton("x<sup>2</sup>","<sup>2</sup>","")
                    +setButton("^","^","kC_5-24-16")
                    +setButton("Ans","Ans","kC_1-14-19")
                .digits
                    +setButton("7","7","kC_55 kC_103")
                    +setButton("8","8","kC_56 kC_104")
                    +setButton("9","9","kC_57 kC_105")
                    +setButton("4","4","kC_52 kC_100")
                    +setButton("5","5","kC_53 kC_101")
                    +setButton("6","6","kC_54 kC_102")
                    +setButton("1","1","kC_49 kC_97")
                    +setButton("2","2","kC_50 kC_98")
                    +setButton("3","3","kC_51 kC_99")
                    +setButton("0","0","kC_48 kC_96 w2")
                    +setButton(".",".","kC_110 kC_190")
                .sideOp
                    +setButton("-","-","kC_109 kC_189 kC_45")
                    +setButton("+","+","kC_107 kC_43")
                    +setButton("=","=","kC_13 kC_187 h-2")


    p.copy By #[a(href="https://codepen.io/erinhalbmaier" target="_blank") Erin Halbmaier]