mixin button(text,data,classes)
    button(data-calc=data,class="calcButton " + classes) !{text}
.container
    .wrapper
        .calcBody
            .window
                .eS
                .tS
                .warn
            +button("7","7","kC_55 kC_103")
            +button("8","8","kC_56 kC_104")
            +button("9","9","kC_57 kC_105")
            +button("4","4","kC_52 kC_100")
            +button("5","5","kC_53 kC_101")
            +button("6","6","kC_54 kC_102")
            +button("1","1","kC_49 kC_97")
            +button("2","2","kC_50 kC_98")
            +button("3","3","kC_51 kC_99")
            +button("0","0","kC_48 kC_96")
            +button(".",".","kC_46 kC_110 kC_190")
            +button("+","+","kC_107 kC_43")
            +button("*","*","kC_106 kC_42")
            +button("-","-","kC_109 kC_189 kC_45")
            +button("/","/","kC_111 kC_191 kC_47")
            +button("=","=","kC_13 kC_187")
            +button("x!","!","kC_5-24-3")
            +button("^","^","kC_5-24-16")
            +button("(","(","kC_16-1-18")
            +button(")",")","kC_5-14-4")
            +button("sin","sin(","kC_19-9-14")
            +button("sin<sup>-1</sup>","sin<sup>-1</sup>(","kC_1-19-9-14 inverse")
            +button("cos","cos(","kC_3-15-19")
            +button("cos<sup>-1</sup>","cos<sup>-1</sup>(","kC_1-3-15-19 inverse")
            +button("tan","tan(","kC_20-1-14")
            +button("tan<sup>-1</sup>","tan<sup>-1</sup>(","kC_1-20-1-14 inverse")
            +button("AC","AC","")
            +button("CE","CE","")
            +button("&#x232B;","backspace","kC_8")
            +button("log<sub>10</sub>","log<sub>10</sub>(","kC_12-15-7-10")
            +button("log<sub>2</sub>","log<sub>2</sub>(","kC_12-15-7-2")
            +button("ln","ln(","kC_12-14 inverse")
            +button("e","e","kC_e")
            +button("&pi;","PI","kC_16-9")
            +button("Ans","Ans","kC_1-14-19")
            +button("Degrees","degrees","toggle show kC_deg")
            +button("Radians","radians","toggle kC_rad")


    p.copy By #[a(href="https://codepen.io/erinhalbmaier" target="_blank") Erin Halbmaier]