.container-fluid
    .scenic
    .weather-container
        h1 Local Weather App
        .location
        .current-weather
            i.wi.wi-na
            .temp -- 
            .symbol &deg;
            .measurement F
        .conditions
        .btn-group(id="chooseMeas")
            button.btn.btn-primary(type="button" id="celsius") Celsius
            button.btn.btn-primary.active(type="button" id="fahrenheit") Fahrenheit
    p.copy By #[a(href="https://codepen.io/erinhalbmaier" target="_blank") Erin Halbmaier]