.container-fluid
    .holder
        blockquote.quote-box
            p.quotation-mark “
            p.quote-text
            p.quotee
            button.btn(id="tweet")
                a(href="#" target="_blank")
                    i.fa.fa-twitter
            button.btn.pull-right(id="newQuote") New Quote
            p.quoteSource Source: #[a(target="_blank" href="#") Quotes on Design]
        p.copy By #[a(href="https://codepen.io/erinhalbmaier" target="_blank") Erin Halbmaier]